.info{
    color: #250064;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    display: block;
    margin: 2em;
}
.info b{
    font-size: 25px;
}
.info p{
    margin-left: 2em;
    margin-right: 2em;  
    line-height: 1.6;
    text-align: justify;
}
.info .p{
    margin-left: 2em;
    margin-right: 2em;  
    line-height: 1.6;
    text-align: center;
}
@media (max-width: 1000px) {
    .topnav h1 {
        font-family: var(--title-font-family);
        transform: translateX(2em);
        float: left;
        color: #250064;
        margin-top: 8px;
        margin-left: -1em;
        border-bottom: 1px solid #250064;
        border-top: 1px solid #250064;
    }
}