@import url('variables.css');
@import url('animations.css');
@import url('typography.css');
@import url('buttons.css');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

i {
    margin-right: 10px;
}

#ContactsSection {}

@media (max-width: 1000px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    i {
        margin-left: 8px;
    }
    .topnav {
        overflow: hidden;
        height: 4em;
    }
    .topnav a {
        color: #250064;
        text-decoration: none;
        padding: 10px 20px;
        float: right;
        margin-top: 10px;
        margin-left: -20px;
    }
    .topnav a:first-child {
        margin-right: 40px
    }
    .topnav h1 {
        float: left;
        color: #250064;
        margin-top: 8px;
        margin-left: 30px;
        border-bottom: 1px solid #250064;
        border-top: 1px solid #250064;
    }
    .navbar {
        overflow: hidden;
        background: #250064;
        height: 3em;
        display: flex;
    }
    .navbar li {
        background: transparent;
        color: white;
        float: left;
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid #250064;
        border-radius: 1px;
        margin-left: -20px;
        margin-top: -5px;
        list-style-type: none;
        transition: background 0.3s;
        opacity: 0;
        animation: nav 0.3s ease-in-out 0.2s forwards;
    }
    .navbar li:first-child {
        margin-right: 30px
    }
    .navbar li:hover {
        color: white;
        border-bottom: 1px solid white;
    }
    .navbar .active {
        color: white;
        border-bottom: 1px solid white;
    }
    .container {
        margin-top: -1.2em;
        background-image: url('../images/stud2.jpg');
        background-size: 100% 100%;
        height: 17em;
    }
    .container h1 {
        margin-left: 1em;
        padding-top: 2em;
        color: white;
    }
    .container p {
        margin-left: 7em;
        margin-top: 16em;
        color: white;
    }
    .container .tran-btn {
        margin-top: 2em;
        margin-left: 2em;
        padding: 10px 15px;
        font-size: 16px;
    }
    .h1 {
        transform: translateX(8.5em);
        font-size: 20px;
        color: #250064;
        border-radius: 2.5px;
        padding-bottom: 15px;
        margin-top: 2em;
    }
    .content1 {
        margin: 20px;
        margin-top: 6em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 15em);
        grid-row-gap: 1.5em;
        justify-content: center;
    }
    .content1 div {
        display: block;
        color: #250064;
        text-align: center;
    }
    .content1 div i {
        align-content: center;
        font-size: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #250064;
    }
    .content1 div p {
        font-size: 16px;
        margin-top: -10px;
    }
    .content1 div h4 {
        font-size: 17px;
        margin-top: 5px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 25em);
        grid-row-gap: 2em;
        justify-content: center;
        color: white;
        background: #250064;
    }
    .footer div {
        padding: 20px 20px;
        overflow: hidden;
        display: block;
    }
    .footer div a{
        color:white;
        text-decoration: none;
        font-size: var(--normal-font-size);
        border-bottom: 1px solid transparent;
        transition: color 0.2s;
    }
    .footer div a:hover{
        color: red;
    }
    .footer .div h1{
        display: none;
    }

}

@media (max-width: 400px) {
    .navbar {
        height: 2.8em;
    }
    .navbar li {
        font-size: var(--Sphone-font-size);
        padding: 3px;
    }
    .navbar li:first-child {
        margin-left: -25px;
    }
}

@media (min-width: 700px) {
    .content1 {
        margin: 20px;
        margin-top: 6em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 15em);
        grid-gap: 1.5em;
        justify-content: center;
    }
    .content1 .h1 {
        text-align: center;
    }
    .h1 {
        transform: translateX(8.5em);
        font-size: 30px;
        color: #250064;
        border-radius: 2.5px;
        padding-bottom: 15px;
        margin-top: 2em;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 50em);
        grid-template-rows: repeat(3, 25em);
        grid-row-gap: 2em;
        justify-content: center;
        color: white;
        background: #250064;
    }
}

@media (max-width: 1165px) {
    .container p {
        display: none;
    }
    .tran-btn {
        margin-top: 25em;
        margin-left: 7em;
    }
}

@media (min-width: 1165px) {
    .container p {
        margin-left: 7em;
        margin-top: 16em;
        color: white;
        position: absolute;
    }
    .tran-btn {
        margin-top: 25em;
        margin-left: 7em;
    }
}

@media (min-width: 1000px) {
    .topnav {
        overflow: hidden;
        height: 6em;
    }
    .topnav a {
        color: #250064;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding: 10px 20px;
        float: right;
        margin-top: 30px;
        margin-right: 10px;
    }
    .topnav a:first-child {
        margin-right: 50px
    }
    .topnav a:hover {
        border-bottom: 1px solid #250064;
        color: #250064;
    }
    .topnav h1 {
        float: left;
        color: #250064;
        margin-top: 15px;
        margin-left: 30px;
        border-bottom: 2px solid #250064;
        border-top: 2px solid;
    }
    .navbar {
        overflow: hidden;
        background: #250064;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 5;
        height: 3em;
        display: flex;
    }
    .navbar li {
        margin-top: -0.6em;
        background: transparent;
        color: white;
        float: right;
        padding: 10px 25px;
        border-bottom: 1px solid #250064;
        border-radius: 2px;
        list-style-type: none;
        margin-right: 1em;
        transition: border 0.2s;
        opacity: 0;
        animation: nav 0.3s ease-in-out 0.2s forwards;
    }
    .navbar li:hover {
        color: white;
        border-bottom: 1px solid white;
    }
    .navbar .active {
        color: white;
        border-bottom: 1px solid white;
    }
    .container {
        background-image: url('../images/stud2.jpg');
        background-size: 100% 100%;
        height: 35em;
    }
    .container h1 {
        margin-left: 2.5em;
        margin-top: 4em;
        color: white;
        position: absolute;
    }
    .container p {
        margin-left: 7em;
        margin-top: 16em;
        color: white;
        position: absolute;
    }
    .tran-btn {
        margin-top: 19em;
        margin-left: 7em;
    }
    button i {
        margin-left: 10px;
        margin-right: -10px;
        margin-top: 5px;
    }
    .h1 {
        transform: translateX(0em);
        text-align: center;
        font-size: 50px;
        color: #250064;
        border-bottom: 2px solid #250064;
        border-radius: 2.5px;
        padding-bottom: 15px;
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 2em;
    }
    .content1 {
        margin: 20px;
        margin-top: 6em;
        display: grid;
        grid-template-columns: repeat(3, 22em);
        grid-template-rows: repeat(2, 15em);
        grid-column-gap: 1.5em;
        justify-content: center;
    }
    .content1 div {
        display: block;
        color: #250064;
    }
    .content1 div i {
        font-size: 35px;
        padding-right: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #250064;
    }
    .content1 div p {
        font-size: 16px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25em 5em;
        justify-content: center;
        color: white;
        background: #250064;
    }
    .footer div {
        padding: 20px 20px;
        overflow: hidden;
        display: block;
    }
    .footer div a{
        color:white;
        text-decoration: none;
        font-size: var(--normal-font-size);
        border-bottom: 1px solid transparent;
        transition: color 0.2s;
    }
    .footer div a:hover{
        color: red;
    }
    .footer .div{
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .footer .div h1{
        font-family: var(--title-font-family);
        transform: translateX(7em);
        float: left;
        font-size: 60px;
        color: White;
        margin-top: -20px;
        margin-left: 30px;
        padding-left: 5px;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        grid-column: 2;
        letter-spacing: 15px;
    }

}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 300px;
}