:root{
    --normal-font-size: 18px;
    --phone-font-size: 12px;
    --Mphone-font-size: 10px;
    --Sphone-font-size: 8px;
    --title-font-size: 55px;

    --default-font-family: 'Roboto', sans-serif;
    --title-font-family: 'Roboto Slab', serif;
}